.section {
  display: grid;
  row-gap: 48px;

  box-sizing: border-box;

  &__title {
    display: flex;
    flex-shrink: 0;
    justify-content: center;

    @include sectionTitleMarginTop ;

    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      margin-bottom: 56px;
      font-size: 64px;
    }

    &--about-us {
      justify-content: flex-start;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
  }

  &__content {
    display: grid;
    row-gap: 40px;

    @include contentPaddingInline ;

    &--about-us {

      @include onTablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      align-items: first baseline;
      }

    }

    &--compare-bikes {

      @include onDesktop {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
      }

      @include onTablet {
        padding-inline: 176px;
      }
    }

    //   @include onDesktop {
    //     display: flex;
    //     gap: 24px;
    //   }
    // }

    // &--details {
    //   margin: 0 auto;
    // }

    // &--contact {
    //   max-width: 1020px;
    //   margin: 0 auto ;
    //   padding-left: 0;

    //   @include onTablet {
    //     display: flex;
    //     gap: 24px;
    //     padding-right: 20px;
    //   }

    //   @include onDesktop {
    //     gap: 198px;
    //     padding-right: 180px;
    //   }
    // }
  }
}
