.section {

  &__content {
    @include grid-section ;

    row-gap: 40px;
    box-sizing: content-box;

    @include contentPaddingInline;

  }

  &__content-item {
    grid-column: 1/-1;

    &--compare-bikes {

      grid-template-rows: repeat(2, fr);

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__title {
    grid-column: 1/-1;
    margin: auto ;

    @include sectionTitleMarginTop ;

    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;

   &--about-us {
    @include onTablet {
      font-size: 48px;
      grid-column: 1/4;

    }

    @include onDesktop {
      font-size: 64px;
      grid-column: 1/6;
    }
   }

  }

  &__text {
    grid-column: 1/-1;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;

    @include onTablet {
      grid-column: 4/-1;
      margin-top: 120px;
    }

    @include onDesktop {
      grid-column: 6/-1;
    }
  }
}
