.section {
  display: grid;
  row-gap: 48px;

  &__title {
    display: flex;
    flex-shrink: 0;
    justify-content: center;

    @include sectionTitleMarginTop ;

    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      margin-bottom: 56px;
      font-size: 64px;
    }

  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
  }

  &__content {
    display: grid;
    row-gap: 40px;
    max-width: 1020px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: content-box;
    @include contentPaddingInline ;

    @include onTablet {
      box-sizing: border-box;
    }

    &--about-us {
      @include onTablet {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        align-items: first baseline;
      }
    }

    &--compare-bikes {
      @include onTablet {
        padding-inline: 176px;
      }

      @include onDesktop {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
      }
    }

    &--contact {
      gap: 0;
      margin-inline: auto;
      justify-content: center;

      @include onTablet {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
      }

      @include onDesktop {
        column-gap: 198px;
      }
    }
  }
}
