.top-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 24px;

  @include contentPaddingInline;

  @include onTablet {
    padding-block: 34px;
  }

  @include onDesktop {
    grid-template-columns: 0.7fr minmax(500px,512px) minmax(500px,512px)  0.7fr;
    padding-inline: 0;
  }

  &__logo {
    display: flex;
    width: 130px;
    height: 38px;

    @include onTablet {
      width: 187px;
      height: 56px;
    }

    @include onDesktop {
      grid-column: 2/3;
    }

    @include hover(transform, scale(1.2));
  }

  &__icon {
    justify-self: end;
    display: flex;
    gap: 24px;
  }

  &--menu {
    z-index: 1;
    background-color: #e5e5e5;
    margin-bottom: 15px ;
  }
}
